<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <button onclick="Redirect()">Menu</button>

    <script>
        function Redirect() {
            window.location.replace("/")
        };
    </script>

    <h1>
        <u>LEADERBOARD</u>
    </h1>

    <ul>
        <% for( let index=0; index < leaderboard.length; index++ ) { %>
            <li>
                <div class="users">
                    <p>
                        Name: <%= leaderboard[index].user %>
                    </p>
                    <p>
                        Points: <%= leaderboard[index].points %>
                    </p>
                </div>
            </li>
            <% } %>
    </ul>
</body>

</html>